repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.2
  hooks:
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    - id: ruff-format
      types_or: [ python, pyi ]
- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: uv run mypy --config-file pyproject.toml
      language: system
      types: [python]
      pass_filenames: false
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.4
  hooks:
    - id: insert-license
      files: ^src/neptune_exporter.*[^/]+\.py$
      args: [ "--license-filepath", "LICENSE.txt", "--allow-past-years"]
